USE [master]
GO
/****** Object:  Database [project_SWP391]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE DATABASE [project_SWP391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project_SWP391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\project_SWP391.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_SWP391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\project_SWP391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project_SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project_SWP391]
GO
/****** Object:  Table [dbo].[Job_Searches]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Searches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[search_type] [varchar](20) NOT NULL,
	[keyword] [nvarchar](500) NULL,
	[location] [nvarchar](200) NULL,
	[industry] [nvarchar](100) NULL,
	[job_level] [nvarchar](50) NULL,
	[job_type] [nvarchar](50) NULL,
	[min_salary] [decimal](10, 2) NULL,
	[max_salary] [decimal](10, 2) NULL,
	[min_experience] [int] NULL,
	[benefits] [nvarchar](500) NULL,
	[language] [nvarchar](100) NULL,
	[sort_by] [nvarchar](50) NULL,
	[sort_order] [nvarchar](10) NULL,
	[is_saved] [bit] NULL,
	[search_name] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[last_used] [datetime] NULL,
	[result_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SearchStats]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View cho thống kê tìm kiếm
CREATE VIEW [dbo].[vw_SearchStats] AS
SELECT 
    job_seeker_id,
    COUNT(*) as total_searches,
    COUNT(CASE WHEN is_saved = 1 THEN 1 END) as saved_searches,
    COUNT(CASE WHEN search_type = 'advanced' THEN 1 END) as advanced_searches,
    AVG(result_count) as avg_results,
    MAX(last_used) as last_search_date
FROM Job_Searches
GROUP BY job_seeker_id;

GO
/****** Object:  Table [dbo].[Saved_Jobs]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saved_Jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NULL,
	[recruiter_id] [int] NULL,
	[post_id] [int] NOT NULL,
	[saved_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[job_seeker_id] ASC,
	[recruiter_id] ASC,
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SavedJobStats]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View cho thống kê công việc đã lưu
CREATE VIEW [dbo].[vw_SavedJobStats] AS
SELECT 
    job_seeker_id,
    COUNT(*) as total_saved,
    COUNT(CASE WHEN is_applied = 1 THEN 1 END) as applied_jobs,
    COUNT(CASE WHEN saved_at >= DATEADD(day, -7, GETDATE()) THEN 1 END) as recent_saves
FROM Saved_Jobs
GROUP BY job_seeker_id;

GO
/****** Object:  Table [dbo].[Search_Suggestions]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_Suggestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keyword] [nvarchar](200) NOT NULL,
	[suggestion_type] [nvarchar](50) NOT NULL,
	[frequency] [int] NULL,
	[last_used] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PopularSuggestions]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View cho gợi ý tìm kiếm phổ biến
CREATE VIEW [dbo].[vw_PopularSuggestions] AS
SELECT 
    keyword,
    suggestion_type,
    frequency,
    ROW_NUMBER() OVER (PARTITION BY suggestion_type ORDER BY frequency DESC) as rank_in_type
FROM Search_Suggestions
WHERE frequency > 5;

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[profile_picture] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[role] [varchar](20) NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_expiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Stages]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Stages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
	[date_completed] [datetime] NULL,
	[notes] [text] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Status_History]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Status_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[old_status] [varchar](20) NULL,
	[new_status] [varchar](20) NULL,
	[changed_by] [int] NULL,
	[changed_at] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_listing_id] [int] NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[cv_file] [varchar](255) NULL,
	[cover_letter] [ntext] NULL,
	[status] [varchar](20) NULL,
	[applied_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications_Backup_Invalid]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications_Backup_Invalid](
	[ApplicationID] [int] NOT NULL,
	[job_listing_id] [int] NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[applied_at] [datetime] NULL,
	[reason] [varchar](17) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[image_url] [nvarchar](max) NULL,
	[redirect_url] [nvarchar](max) NULL,
	[position] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[thumbnail] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidate_Evaluations]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate_Evaluations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
	[evaluator_id] [int] NOT NULL,
	[score] [int] NULL,
	[comments] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV_Skills]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_Skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[skill_name] [nvarchar](100) NOT NULL,
	[proficiency_level] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cv_templates]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv_templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[job_position] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NOT NULL,
	[address] [nvarchar](255) NULL,
	[certificates] [text] NULL,
	[work_experience] [ntext] NULL,
	[image_path] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[sender_type] [varchar](20) NOT NULL,
	[recipient_id] [int] NOT NULL,
	[recipient_type] [varchar](20) NOT NULL,
	[subject] [nvarchar](max) NOT NULL,
	[body] [ntext] NOT NULL,
	[is_read] [bit] NULL,
	[sent_at] [datetime] NULL,
	[attachments] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email_History]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NULL,
	[interview_schedule_id] [int] NULL,
	[template_id] [int] NULL,
	[recipient_email] [nvarchar](255) NOT NULL,
	[subject] [nvarchar](500) NOT NULL,
	[body_html] [ntext] NOT NULL,
	[status] [nvarchar](50) NULL,
	[error_message] [nvarchar](max) NULL,
	[sent_at] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email_Templates]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [nvarchar](255) NOT NULL,
	[template_type] [nvarchar](100) NOT NULL,
	[subject] [nvarchar](500) NOT NULL,
	[body_html] [ntext] NOT NULL,
	[body_text] [ntext] NULL,
	[variables] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Featured_Jobs]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Featured_Jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_listing_id] [int] NOT NULL,
	[promotion_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financial_Transactions]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_Transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[promotion_id] [int] NULL,
	[type] [varchar](10) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[description] [ntext] NULL,
	[status] [varchar](20) NULL,
	[transaction_date] [datetime] NULL,
	[payment_method] [nvarchar](50) NULL,
	[transaction_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interview_Schedule]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interview_Schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[interview_type] [varchar](50) NOT NULL,
	[scheduled_date] [datetime] NOT NULL,
	[duration_minutes] [int] NULL,
	[location] [nvarchar](255) NULL,
	[interviewer_name] [nvarchar](100) NOT NULL,
	[interviewer_email] [varchar](100) NOT NULL,
	[candidate_email] [varchar](100) NOT NULL,
	[status] [varchar](20) NULL,
	[notes] [ntext] NULL,
	[reminder_sent] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[interview_time] [datetime] NOT NULL,
	[location] [nvarchar](255) NULL,
	[interviewer] [nvarchar](100) NULL,
	[result] [nvarchar](50) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Alerts]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Alerts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[alert_name] [nvarchar](200) NOT NULL,
	[keyword] [nvarchar](500) NULL,
	[location] [nvarchar](200) NULL,
	[industry] [nvarchar](100) NULL,
	[job_type] [nvarchar](50) NULL,
	[min_salary] [decimal](10, 2) NULL,
	[max_salary] [decimal](10, 2) NULL,
	[frequency] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[last_sent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Listings]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Listings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [ntext] NOT NULL,
	[requirements] [ntext] NULL,
	[location] [nvarchar](100) NULL,
	[salary_min] [decimal](12, 2) NULL,
	[salary_max] [decimal](12, 2) NULL,
	[job_type] [varchar](20) NOT NULL,
	[experience_level] [varchar](50) NULL,
	[is_featured] [bit] NULL,
	[status] [varchar](20) NULL,
	[application_deadline] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Seeker_CVs]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Seeker_CVs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[cv_template_id] [int] NULL,
	[cv_content] [ntext] NULL,
	[title] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Seekers]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Seekers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[profile_picture] [varchar](255) NULL,
	[cv_file] [varchar](255) NULL,
	[skills] [text] NULL,
	[experience_years] [int] NULL,
	[education] [text] NULL,
	[desired_job_title] [nvarchar](100) NULL,
	[desired_salary] [decimal](15, 2) NULL,
	[job_category] [nvarchar](100) NULL,
	[preferred_location] [nvarchar](100) NULL,
	[career_level] [varchar](50) NULL,
	[work_type] [nvarchar](50) NULL,
	[profile_summary] [ntext] NULL,
	[portfolio_url] [varchar](255) NULL,
	[languages] [ntext] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_expiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_SeekersNotification]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_SeekersNotification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobseeker_id] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[content] [ntext] NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[user_type] [varchar](20) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[content] [ntext] NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[user_type] [nvarchar](20) NOT NULL,
	[parent_id] [int] NULL,
	[post_type] [nvarchar](20) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[view_count] [int] NULL,
	[like_count] [int] NULL,
	[comment_count] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[company_name] [nvarchar](255) NULL,
	[company_logo] [varchar](500) NULL,
	[salary] [nvarchar](100) NULL,
	[location] [nvarchar](255) NULL,
	[job_type] [nvarchar](50) NULL,
	[experience] [nvarchar](100) NULL,
	[deadline] [date] NULL,
	[working_time] [nvarchar](200) NULL,
	[job_description] [nvarchar](max) NULL,
	[requirements] [nvarchar](max) NULL,
	[benefits] [nvarchar](max) NULL,
	[contact_address] [nvarchar](500) NULL,
	[application_method] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[rank] [nvarchar](100) NULL,
	[industry] [nvarchar](255) NULL,
	[contact_person] [nvarchar](255) NULL,
	[company_size] [nvarchar](100) NULL,
	[company_website] [nvarchar](500) NULL,
	[company_description] [nvarchar](max) NULL,
	[keywords] [nvarchar](500) NULL,
	[salary_min] [decimal](12, 2) NULL,
	[salary_max] [decimal](12, 2) NULL,
	[experience_years] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Programs]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Programs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[cost] [decimal](12, 2) NOT NULL,
	[duration_days] [int] NOT NULL,
	[description] [ntext] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruiter]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruiter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[profile_picture] [varchar](255) NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[company_description] [ntext] NULL,
	[logo] [varchar](255) NULL,
	[website] [varchar](255) NULL,
	[company_address] [nvarchar](255) NULL,
	[company_size] [varchar](50) NULL,
	[industry] [nvarchar](100) NULL,
	[tax_code] [varchar](50) NULL,
	[loyalty_score] [decimal](10, 2) NULL,
	[verification_status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_expiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruiterNotification]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruiterNotification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[content] [ntext] NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruitment_Process]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment_Process](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [int] NOT NULL,
	[currentStage] [varchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[updatedAt] [datetime2](0) NOT NULL,
	[notes] [text] NULL,
	[assignedHrId] [int] NOT NULL,
	[assignedRecruiterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruitment_Stages]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment_Stages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_listing_id] [int] NOT NULL,
	[stage_name] [varchar](50) NOT NULL,
	[order_num] [int] NOT NULL,
	[description] [ntext] NULL,
	[expected_duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_type] [varchar](100) NOT NULL,
	[generated_by] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[data] [ntext] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screening_Results]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screening_Results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recruitmentProcessId] [int] NOT NULL,
	[screeningType] [varchar](20) NOT NULL,
	[result] [varchar](20) NOT NULL,
	[score] [int] NOT NULL,
	[feedback] [text] NULL,
	[reviewerName] [varchar](100) NOT NULL,
	[reviewedAt] [datetime2](0) NOT NULL,
	[criteria] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Search_Analytics]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_Analytics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[search_id] [int] NULL,
	[job_seeker_id] [int] NULL,
	[keyword] [nvarchar](500) NULL,
	[result_count] [int] NULL,
	[click_count] [int] NULL,
	[save_count] [int] NULL,
	[apply_count] [int] NULL,
	[search_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Search_History]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_seeker_id] [int] NOT NULL,
	[search_query] [nvarchar](255) NULL,
	[search_filters] [ntext] NULL,
	[search_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills_Tests]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills_Tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recruitmentProcessId] [int] NOT NULL,
	[testType] [varchar](30) NOT NULL,
	[testName] [varchar](200) NOT NULL,
	[testUrl] [varchar](500) NULL,
	[scheduledAt] [datetime2](0) NOT NULL,
	[deadline] [datetime2](0) NOT NULL,
	[completedAt] [datetime2](0) NULL,
	[status] [varchar](20) NOT NULL,
	[score] [int] NULL,
	[result] [varchar](20) NULL,
	[feedback] [text] NULL,
	[testInstructions] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_applications_job_listing_id]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_applications_job_listing_id] ON [dbo].[Applications]
(
	[job_listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_applications_job_seeker_id]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_applications_job_seeker_id] ON [dbo].[Applications]
(
	[job_seeker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_skill_name]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skill_name] ON [dbo].[CV_Skills]
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailHistory_Application]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailHistory_Application] ON [dbo].[Email_History]
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailHistory_CreatedAt]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailHistory_CreatedAt] ON [dbo].[Email_History]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailHistory_Recipient]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailHistory_Recipient] ON [dbo].[Email_History]
(
	[recipient_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailHistory_Status]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailHistory_Status] ON [dbo].[Email_History]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailHistory_Template]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailHistory_Template] ON [dbo].[Email_History]
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailTemplates_Active]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailTemplates_Active] ON [dbo].[Email_Templates]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailTemplates_CreatedBy]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailTemplates_CreatedBy] ON [dbo].[Email_Templates]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailTemplates_Type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailTemplates_Type] ON [dbo].[Email_Templates]
(
	[template_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Job_Alerts_Active]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Alerts_Active] ON [dbo].[Job_Alerts]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Job_Alerts_JobSeeker]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Alerts_JobSeeker] ON [dbo].[Job_Alerts]
(
	[job_seeker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_job_listings_recruiter_id]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_job_listings_recruiter_id] ON [dbo].[Job_Listings]
(
	[recruiter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Job_Searches_JobSeeker]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Searches_JobSeeker] ON [dbo].[Job_Searches]
(
	[job_seeker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Job_Searches_LastUsed]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Searches_LastUsed] ON [dbo].[Job_Searches]
(
	[last_used] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Job_Searches_Saved]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Searches_Saved] ON [dbo].[Job_Searches]
(
	[is_saved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Job_Searches_Type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Job_Searches_Type] ON [dbo].[Job_Searches]
(
	[search_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posts_created_at]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_posts_created_at] ON [dbo].[Posts]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_posts_parent]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_posts_parent] ON [dbo].[Posts]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_posts_status]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_posts_status] ON [dbo].[Posts]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_posts_type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_posts_type] ON [dbo].[Posts]
(
	[post_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_posts_user]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_posts_user] ON [dbo].[Posts]
(
	[user_id] ASC,
	[user_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_recruitment_application]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_recruitment_application] ON [dbo].[Recruitment_Process]
(
	[applicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_recruitment_hr]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_recruitment_hr] ON [dbo].[Recruitment_Process]
(
	[assignedHrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_recruitment_stage]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_recruitment_stage] ON [dbo].[Recruitment_Process]
(
	[currentStage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_recruitment_status]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_recruitment_status] ON [dbo].[Recruitment_Process]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_recruitment_updated]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_recruitment_updated] ON [dbo].[Recruitment_Process]
(
	[updatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_screening_process]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_screening_process] ON [dbo].[Screening_Results]
(
	[recruitmentProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_screening_result]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_screening_result] ON [dbo].[Screening_Results]
(
	[result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_screening_review]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_screening_review] ON [dbo].[Screening_Results]
(
	[reviewedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_screening_type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_screening_type] ON [dbo].[Screening_Results]
(
	[screeningType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Search_Analytics_Date]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Search_Analytics_Date] ON [dbo].[Search_Analytics]
(
	[search_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Search_Analytics_JobSeeker]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Search_Analytics_JobSeeker] ON [dbo].[Search_Analytics]
(
	[job_seeker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Search_Suggestions_Frequency]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Search_Suggestions_Frequency] ON [dbo].[Search_Suggestions]
(
	[frequency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Search_Suggestions_Keyword]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Search_Suggestions_Keyword] ON [dbo].[Search_Suggestions]
(
	[keyword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Search_Suggestions_Type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Search_Suggestions_Type] ON [dbo].[Search_Suggestions]
(
	[suggestion_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skills_deadline]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skills_deadline] ON [dbo].[Skills_Tests]
(
	[deadline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skills_process]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skills_process] ON [dbo].[Skills_Tests]
(
	[recruitmentProcessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_skills_scheduled]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skills_scheduled] ON [dbo].[Skills_Tests]
(
	[scheduledAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_skills_status]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skills_status] ON [dbo].[Skills_Tests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_skills_type]    Script Date: 7/15/2025 9:36:09 PM ******/
CREATE NONCLUSTERED INDEX [idx_skills_type] ON [dbo].[Skills_Tests]
(
	[testType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[Application_Stages] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Application_Status_History] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('new') FOR [status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Candidate_Evaluations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cv_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cv_templates] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Email] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Email] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[Email_History] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Email_History] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Email_Templates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Email_Templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Financial_Transactions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Financial_Transactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[Interview_Schedule] ADD  DEFAULT ((60)) FOR [duration_minutes]
GO
ALTER TABLE [dbo].[Interview_Schedule] ADD  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Interview_Schedule] ADD  DEFAULT ((0)) FOR [reminder_sent]
GO
ALTER TABLE [dbo].[Interview_Schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Job_Alerts] ADD  DEFAULT ('daily') FOR [frequency]
GO
ALTER TABLE [dbo].[Job_Alerts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Job_Alerts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Listings] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[Job_Listings] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Job_Listings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Listings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT ('basic') FOR [search_type]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT ('created_at') FOR [sort_by]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT ('DESC') FOR [sort_order]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT ((0)) FOR [is_saved]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT (getdate()) FOR [last_used]
GO
ALTER TABLE [dbo].[Job_Searches] ADD  DEFAULT ((0)) FOR [result_count]
GO
ALTER TABLE [dbo].[Job_Seeker_CVs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Seeker_CVs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Job_Seeker_CVs] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[Job_Seekers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Seekers] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Job_Seekers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Job_SeekersNotification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Job_SeekersNotification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [comment_count]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Promotion_Programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Promotion_Programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Promotion_Programs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Recruiter] ADD  DEFAULT ((0.0)) FOR [loyalty_score]
GO
ALTER TABLE [dbo].[Recruiter] ADD  DEFAULT ('pending') FOR [verification_status]
GO
ALTER TABLE [dbo].[Recruiter] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Recruiter] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Recruiter] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[RecruiterNotification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[RecruiterNotification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Recruitment_Process] ADD  CONSTRAINT [DF_Recruitment_Process_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Recruitment_Process] ADD  CONSTRAINT [DF_Recruitment_Process_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Saved_Jobs] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[Screening_Results] ADD  CONSTRAINT [DF_Screening_Results_ReviewedAt]  DEFAULT (sysutcdatetime()) FOR [reviewedAt]
GO
ALTER TABLE [dbo].[Search_Analytics] ADD  DEFAULT ((0)) FOR [click_count]
GO
ALTER TABLE [dbo].[Search_Analytics] ADD  DEFAULT ((0)) FOR [save_count]
GO
ALTER TABLE [dbo].[Search_Analytics] ADD  DEFAULT ((0)) FOR [apply_count]
GO
ALTER TABLE [dbo].[Search_Analytics] ADD  DEFAULT (getdate()) FOR [search_date]
GO
ALTER TABLE [dbo].[Search_History] ADD  DEFAULT (getdate()) FOR [search_date]
GO
ALTER TABLE [dbo].[Search_Suggestions] ADD  DEFAULT ((1)) FOR [frequency]
GO
ALTER TABLE [dbo].[Search_Suggestions] ADD  DEFAULT (getdate()) FOR [last_used]
GO
ALTER TABLE [dbo].[Search_Suggestions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Skills_Tests] ADD  CONSTRAINT [DF_Skills_Tests_ScheduledAt]  DEFAULT (sysutcdatetime()) FOR [scheduledAt]
GO
ALTER TABLE [dbo].[Skills_Tests] ADD  CONSTRAINT [DF_Skills_Tests_Status]  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Application_Stages]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Application_Stages]  WITH CHECK ADD FOREIGN KEY([stage_id])
REFERENCES [dbo].[Recruitment_Stages] ([id])
GO
ALTER TABLE [dbo].[Application_Status_History]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Posts] FOREIGN KEY([job_listing_id])
REFERENCES [dbo].[Posts] ([id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Posts]
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [fk_admin_banner] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [fk_admin_banner]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [fk_admin_blog] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [fk_admin_blog]
GO
ALTER TABLE [dbo].[Candidate_Evaluations]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Candidate_Evaluations]  WITH CHECK ADD FOREIGN KEY([stage_id])
REFERENCES [dbo].[Recruitment_Stages] ([id])
GO
ALTER TABLE [dbo].[CV_Skills]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[cv_templates]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Email_History]  WITH CHECK ADD  CONSTRAINT [FK_EmailHistory_Application] FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Email_History] CHECK CONSTRAINT [FK_EmailHistory_Application]
GO
ALTER TABLE [dbo].[Email_History]  WITH CHECK ADD  CONSTRAINT [FK_EmailHistory_InterviewSchedule] FOREIGN KEY([interview_schedule_id])
REFERENCES [dbo].[Interview_Schedule] ([id])
GO
ALTER TABLE [dbo].[Email_History] CHECK CONSTRAINT [FK_EmailHistory_InterviewSchedule]
GO
ALTER TABLE [dbo].[Email_History]  WITH CHECK ADD  CONSTRAINT [FK_EmailHistory_Template] FOREIGN KEY([template_id])
REFERENCES [dbo].[Email_Templates] ([id])
GO
ALTER TABLE [dbo].[Email_History] CHECK CONSTRAINT [FK_EmailHistory_Template]
GO
ALTER TABLE [dbo].[Email_Templates]  WITH CHECK ADD  CONSTRAINT [FK_EmailTemplates_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[Admin] ([id])
GO
ALTER TABLE [dbo].[Email_Templates] CHECK CONSTRAINT [FK_EmailTemplates_CreatedBy]
GO
ALTER TABLE [dbo].[Featured_Jobs]  WITH CHECK ADD FOREIGN KEY([job_listing_id])
REFERENCES [dbo].[Job_Listings] ([id])
GO
ALTER TABLE [dbo].[Featured_Jobs]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion_Programs] ([id])
GO
ALTER TABLE [dbo].[Financial_Transactions]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion_Programs] ([id])
GO
ALTER TABLE [dbo].[Financial_Transactions]  WITH CHECK ADD FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[Recruiter] ([id])
GO
ALTER TABLE [dbo].[Interview_Schedule]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[Applications] ([id])
GO
ALTER TABLE [dbo].[Job_Alerts]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Listings]  WITH CHECK ADD FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[Recruiter] ([id])
GO
ALTER TABLE [dbo].[Job_Searches]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_Seeker_CVs]  WITH CHECK ADD FOREIGN KEY([cv_template_id])
REFERENCES [dbo].[cv_templates] ([id])
GO
ALTER TABLE [dbo].[Job_Seeker_CVs]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Job_SeekersNotification]  WITH CHECK ADD  CONSTRAINT [fk_jobseeker_notification] FOREIGN KEY([jobseeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Job_SeekersNotification] CHECK CONSTRAINT [fk_jobseeker_notification]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Recruiter] ([id])
GO
ALTER TABLE [dbo].[RecruiterNotification]  WITH CHECK ADD  CONSTRAINT [fk_recruiter_notification] FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[Recruiter] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecruiterNotification] CHECK CONSTRAINT [fk_recruiter_notification]
GO
ALTER TABLE [dbo].[Recruitment_Stages]  WITH CHECK ADD FOREIGN KEY([job_listing_id])
REFERENCES [dbo].[Job_Listings] ([id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([generated_by])
REFERENCES [dbo].[Admin] ([id])
GO
ALTER TABLE [dbo].[Saved_Jobs]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Saved_Jobs]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([id])
GO
ALTER TABLE [dbo].[Saved_Jobs]  WITH CHECK ADD FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[Recruiter] ([id])
GO
ALTER TABLE [dbo].[Screening_Results]  WITH CHECK ADD  CONSTRAINT [FK_Screening_Process] FOREIGN KEY([recruitmentProcessId])
REFERENCES [dbo].[Recruitment_Process] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screening_Results] CHECK CONSTRAINT [FK_Screening_Process]
GO
ALTER TABLE [dbo].[Search_Analytics]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Search_Analytics]  WITH CHECK ADD FOREIGN KEY([search_id])
REFERENCES [dbo].[Job_Searches] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Search_History]  WITH CHECK ADD FOREIGN KEY([job_seeker_id])
REFERENCES [dbo].[Job_Seekers] ([id])
GO
ALTER TABLE [dbo].[Skills_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Process] FOREIGN KEY([recruitmentProcessId])
REFERENCES [dbo].[Recruitment_Process] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skills_Tests] CHECK CONSTRAINT [FK_Skills_Process]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD CHECK  (([role]='saler' OR [role]='manager' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Application_Stages]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='offered' OR [status]='interviewed' OR [status]='reviewed' OR [status]='new'))
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD CHECK  (([status]='published' OR [status]='draft'))
GO
ALTER TABLE [dbo].[Email]  WITH CHECK ADD CHECK  (([recipient_type]='job_seeker' OR [recipient_type]='recruiter' OR [recipient_type]='admin'))
GO
ALTER TABLE [dbo].[Email]  WITH CHECK ADD CHECK  (([sender_type]='job_seeker' OR [sender_type]='recruiter' OR [sender_type]='admin'))
GO
ALTER TABLE [dbo].[Financial_Transactions]  WITH CHECK ADD CHECK  (([type]='expense' OR [type]='income'))
GO
ALTER TABLE [dbo].[Financial_Transactions]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Financial_Transactions]  WITH CHECK ADD CHECK  (([transaction_type]='other' OR [transaction_type]='checkout' OR [transaction_type]='cv_service' OR [transaction_type]='subscription' OR [transaction_type]='advertising' OR [transaction_type]='featured_job'))
GO
ALTER TABLE [dbo].[Job_Listings]  WITH CHECK ADD CHECK  (([job_type]='contract' OR [job_type]='internship' OR [job_type]='freelance' OR [job_type]='part_time' OR [job_type]='full_time'))
GO
ALTER TABLE [dbo].[Job_Listings]  WITH CHECK ADD CHECK  (([status]='expired' OR [status]='filled' OR [status]='paused' OR [status]='active'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([user_type]='job_seeker' OR [user_type]='recruiter' OR [user_type]='admin'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([post_type]='like' OR [post_type]='comment' OR [post_type]='post'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([status]='deleted' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([user_type]='job_seeker' OR [user_type]='recruiter' OR [user_type]='admin'))
GO
ALTER TABLE [dbo].[Recruiter]  WITH CHECK ADD CHECK  (([verification_status]='rejected' OR [verification_status]='verified' OR [verification_status]='pending'))
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD CHECK  (([report_type]='job_application_stats' OR [report_type]='job_seeker_activity' OR [report_type]='loyalty' OR [report_type]='revenue' OR [report_type]='employer_list'))
GO
ALTER TABLE [dbo].[Saved_Jobs]  WITH CHECK ADD CHECK  (([job_seeker_id] IS NOT NULL AND [recruiter_id] IS NULL OR [job_seeker_id] IS NULL AND [recruiter_id] IS NOT NULL))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSavedJobs]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lấy công việc đã lưu
CREATE PROCEDURE [dbo].[sp_GetSavedJobs]
    @job_seeker_id INT
AS
BEGIN
    SELECT sj.*, p.title as original_title, p.company_name as original_company
    FROM Saved_Jobs sj
    LEFT JOIN Posts p ON sj.job_id = p.id
    WHERE sj.job_seeker_id = @job_seeker_id
    ORDER BY sj.saved_at DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSavedSearches]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lấy tìm kiếm đã lưu
CREATE PROCEDURE [dbo].[sp_GetSavedSearches]
    @job_seeker_id INT
AS
BEGIN
    SELECT *
    FROM Job_Searches
    WHERE job_seeker_id = @job_seeker_id AND is_saved = 1
    ORDER BY created_at DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSearchHistory]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lấy lịch sử tìm kiếm
CREATE PROCEDURE [dbo].[sp_GetSearchHistory]
    @job_seeker_id INT,
    @limit INT = 20
AS
BEGIN
    SELECT TOP(@limit) *
    FROM Job_Searches
    WHERE job_seeker_id = @job_seeker_id
    ORDER BY last_used DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSearchSuggestions]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lấy gợi ý tìm kiếm
CREATE PROCEDURE [dbo].[sp_GetSearchSuggestions]
    @keyword NVARCHAR(200),
    @limit INT = 10
AS
BEGIN
    SELECT TOP(@limit) keyword, suggestion_type, frequency
    FROM Search_Suggestions
    WHERE keyword LIKE '%' + @keyword + '%'
    ORDER BY frequency DESC, last_used DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveSavedJob]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để xóa công việc đã lưu
CREATE PROCEDURE [dbo].[sp_RemoveSavedJob]
    @job_seeker_id INT,
    @job_id INT
AS
BEGIN
    DELETE FROM Saved_Jobs
    WHERE job_seeker_id = @job_seeker_id AND job_id = @job_id;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveJob]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lưu công việc
CREATE PROCEDURE [dbo].[sp_SaveJob]
    @job_seeker_id INT,
    @job_id INT,
    @job_title NVARCHAR(200),
    @company_name NVARCHAR(200) = NULL,
    @location NVARCHAR(200) = NULL,
    @salary NVARCHAR(100) = NULL,
    @job_type NVARCHAR(50) = NULL,
    @notes NVARCHAR(1000) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Saved_Jobs WHERE job_seeker_id = @job_seeker_id AND job_id = @job_id)
    BEGIN
        INSERT INTO Saved_Jobs (job_seeker_id, job_id, job_title, company_name, location, salary, job_type, notes)
        VALUES (@job_seeker_id, @job_id, @job_title, @company_name, @location, @salary, @job_type, @notes);
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveJobSearch]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để lưu tìm kiếm
CREATE PROCEDURE [dbo].[sp_SaveJobSearch]
    @job_seeker_id INT,
    @search_type NVARCHAR(20),
    @keyword NVARCHAR(500),
    @location NVARCHAR(200) = NULL,
    @industry NVARCHAR(100) = NULL,
    @job_level NVARCHAR(50) = NULL,
    @job_type NVARCHAR(50) = NULL,
    @min_salary DECIMAL(10,2) = NULL,
    @max_salary DECIMAL(10,2) = NULL,
    @min_experience INT = NULL,
    @benefits NVARCHAR(500) = NULL,
    @language NVARCHAR(100) = NULL,
    @sort_by NVARCHAR(50) = 'created_at',
    @sort_order NVARCHAR(10) = 'DESC',
    @is_saved BIT = 0,
    @search_name NVARCHAR(200) = NULL,
    @result_count INT = 0
AS
BEGIN
    INSERT INTO Job_Searches (
        job_seeker_id, search_type, keyword, location, industry, job_level, job_type,
        min_salary, max_salary, min_experience, benefits, language,
        sort_by, sort_order, is_saved, search_name, result_count
    )
    VALUES (
        @job_seeker_id, @search_type, @keyword, @location, @industry, @job_level, @job_type,
        @min_salary, @max_salary, @min_experience, @benefits, @language,
        @sort_by, @sort_order, @is_saved, @search_name, @result_count
    );
    
    -- Cập nhật tần suất gợi ý
    IF @keyword IS NOT NULL AND LEN(@keyword) > 0
    BEGIN
        UPDATE Search_Suggestions 
        SET frequency = frequency + 1, last_used = GETDATE()
        WHERE keyword = @keyword;
        
        IF @@ROWCOUNT = 0
        BEGIN
            INSERT INTO Search_Suggestions (keyword, suggestion_type, frequency)
            VALUES (@keyword, 'job_title', 1);
        END
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSearchAnalytics]    Script Date: 7/15/2025 9:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP để cập nhật thống kê tìm kiếm
CREATE PROCEDURE [dbo].[sp_UpdateSearchAnalytics]
    @search_id INT,
    @job_seeker_id INT,
    @keyword NVARCHAR(500),
    @result_count INT,
    @click_count INT = 0,
    @save_count INT = 0,
    @apply_count INT = 0
AS
BEGIN
    INSERT INTO Search_Analytics (search_id, job_seeker_id, keyword, result_count, click_count, save_count, apply_count)
    VALUES (@search_id, @job_seeker_id, @keyword, @result_count, @click_count, @save_count, @apply_count);
END;

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng lưu trữ lịch sử gửi email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email_History'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng lưu trữ các template email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email_Templates'
GO
USE [master]
GO
