<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>JobDetailController</servlet-name>
        <servlet-class>controllers.JobDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobListingController</servlet-name>
        <servlet-class>controllers.JobListingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVListController</servlet-name>
        <servlet-class>controllers.CVListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVUpdateController</servlet-name>
        <servlet-class>controllers.CVUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVCreateController</servlet-name>
        <servlet-class>controllers.CVCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveJobController</servlet-name>
        <servlet-class>controllers.SaveJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedJobsController</servlet-name>
        <servlet-class>controllers.SavedJobsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controllers.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controllers.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>com.vnpay.common.VnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailController</servlet-name>
        <url-pattern>/job-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobListingController</servlet-name>
        <url-pattern>/job-listing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVListController</servlet-name>
        <url-pattern>/list_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVUpdateController</servlet-name>
        <url-pattern>/update_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVCreateController</servlet-name>
        <url-pattern>/create_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

    <!-- Application Startup Listener -->
    <listener>
        <listener-class>listeners.ApplicationStartupListener</listener-class>
    </listener>
</web-app>